.controls {
    // margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#custom-map-controls {
    width: 100%;
    display: none;

    p {
        // font-size: 1rem;
    }
}

#place-control {
    #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        // margin-left: 12px;
        // padding: 0 11px 0 13px;
        text-overflow: ellipsis;
    }

    #pac-input:focus {
        border-color: #4d90fe;
    }

    .pac-container {
        font-family: Roboto;
    }
}
#beehive-control {
    .slider {
        background-color: #333; 
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }
    .slider-fill {
        background-color: #333;
    }

    #edit-hives, #remove {
        display: none;
    }
}

#generate-trigger {
    display: none;
}